*~
ICESL models/20210914 Dunedin/DunedinNZColour_fixed.stl
OpenSCAD models/20211025 Lion Pot v5/Completed STLs/lion_planter_v5_125.stl
OpenSCAD models/20211025 Lion Pot v5/Completed STLs/lion_planter_v5_175.stl
